#dogLogger {
    border: 4px solid black;
}

th,
td {
    border: 2px solid black;
}

td {
}

#addNewLogger {
    border: 4px solid black;
    display: none;
}

.input {
    width: 250px;
    margin: 20px;
  }